.button {
  height: 60px;
  width: 340px;
  background-color: rgb(129, 199, 132);
  border: 2px solid #ffffff;
  color: #000000;
  font-weight: bold;
  transition: 0.6s;
  font-size: 15px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.button span {
  transform: translateX(10px);
  transition: 0.5s;
}

.button svg {
  transform: translateX(-300px);
  transition: 0.6s;
  z-index: 3;
  height: 20px;
}

.button:hover {
  width: 60px;
  width: 300px;
  background-color: #dbe2ef;
  box-shadow: 20px 20px 96px #eeee, -20px -20px 96px #ffffff;
}

.button:hover svg {
  transform: translateX(-5px);
}

.button:hover span {
  transform: translateY(70px);
  font-size: 0.1rem;
}
